.section-p1{
    padding: 40px 80px;
}
#product-details{
    display: flex;
    margin-top: 20px;
}
#product-details .single-pro-image {
    width: 50%;
    margin-right: 50px;
    
    
}

.small-image-group{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.small-image-col {
    flex-basis: 24%;
    cursor: pointer;
}

#product-details .single-product-details{
    width: 50%;
}
#product-details .single-product-details h2{
    padding: 30px 0 20px 0;
    font-size: 30px;
}

#product-details .single-product-details h3{
   padding: 30px 0 20px 0;
   font-size: 20px;
}

#product-details .single-product-details select {
 display: block;
 padding: 15px 30px;
 margin-bottom: 20px;
 border: 1px solid black;
}

#product-details .single-product-details input{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid black;
}

#product-details .single-product-details span{
    line-height: 30px;
}



@media (max-width : 499px){
    #product-details{
        display: flex;
        flex-direction: column;
    }
    #product-details .single-pro-image{
        width: 100%;
        
        margin-right: 0px;
    }
    #product-details .single-product-details{
        width: 100%;
        
    }
}



  